html{
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(135deg,  #1f1f2c, #1f1f2c);
  font-family: 'Times New Roman';
  color: #c1b7b7;
  font-size: 16px;
  overflow-x: hidden; 
  margin: 0;
  padding: 0;
}

nav{
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #202034;
  box-shadow: 5px 5px 5px #303248;
}
.web-bar{
    display: flex;
    color: inherit;
    height: 2.5rem;
    margin: 0px;
}
hr{
    border: 1px solid #534e4e;
    margin-top: 4px;
    margin-bottom: 0;
    width: 100%;
}

.nav-item{
  display: inline-block;      
  padding:12px;
}

.nav-text{
  margin-left: 15px;
  font-size: 1.2rem;
  color: inherit;
  cursor: pointer;  
  text-decoration: none;
  display: inline;             
  transition: color 0.3s ease;
}


.welcome{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 20px 20px;
  box-shadow: 0px 2px 5px rgba(31, 25, 25, 0.2);
  width: 97%;
  margin: 0 auto;
  margin-bottom: 10px;
  
}

.img {
  max-width: 300px;
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin-right: 10%;
  margin-top: 10px;
  cursor: pointer;
  display: block;
}

.welcome-text {
  font-size: 3rem;
  height: 10vh;
  font-family: 'Playfair Display', 'monospace';
  margin-bottom: 20px;
  background: linear-gradient(90deg, #ff4c4c, #d63384, #6a5acd, #ffcc70);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 5s ease infinite;
}

/* Animation for moving gradient */
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


.about-me{
  display: flex;
  align-items: flex-start;
}

.vertical-line {
  width: 4px;
  background-color: #4a4141;
  height: 100%;
  min-height: 80px;
  margin-left: 80px;

}

.about-title{
  font-family: monospace;
  color: rgba(255, 0, 0, 0.419);
  width: 150px;
  margin-left: 20px;
  margin-top: 0px;
}

.about-text{
  color: #b2a9a9;
  font-family: monospace;
  font-size: 1.2rem;
  width:700px;
  margin-left: 20px;
  margin-bottom: 12px;
}

.about-details{
  margin-left: 20px;
  display: inline-block;
  text-decoration: none;
  color:  #c1b7b7;
  width: 90px;
  height: 25px;
  padding: 5px;
  font-size: 1.4rem;
  text-align: center;
  border: 2px solid rgb(77, 70, 70);
  border-radius: 10px;
  cursor: pointer;
}

.contact-section, .projects-section, .stack-section{
  min-height: 60vh;
  background:#0c0c0c2a ;
  width: 95%;
  margin: 0 auto;
  color: inherit;
  padding: 1px 15px 15px 20px;
  box-shadow: 0 4px 8px rgba(57, 54, 54, 0.515);
  margin-bottom: 20px;
  border-radius: 10px;
  transition: transform 0.2s;
}

.contact-section:hover,.stack-section:hover,.projects-section:hover{
  transform: translateY(-1px) scale(1.015);
}

/* stack section */

.skills-section{
  display: flex;
  justify-content: flex-start;
}

.skills-line{
  width: 0.3%;
  background: rgba(59, 34, 34, 0.94);
  border-radius:20px;
  margin: 0px;
}

.skills{
  width: 30%;
  background:linear-gradient(135deg,  #1f1f2c, #1f1f2c); 
  border-radius:10px;
}

.stack-list{
 display:flex;
 justify-content: space-around;
 align-items: flex-start;
 width:90% ;
}

.exp-title {
  text-align: center;
  font-size: 1.4rem;
  color:#cde040ae;
  margin: 0px;
}

.exp-card {
  background: linear-gradient(170deg,#2a28284e, #be2b5c37);
  border-radius: 12px;
  border: 1px solid rgb(77, 70, 70);
  padding: 5px;
  width: 30%;
  text-align: center;
  margin: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.exp-card:hover {
  background:linear-gradient(170deg,#2a28280c, #ff236c22);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4),
              0 0 12px rgba(255, 76, 76, 0.4);
}

.exp-icon{
  width: 100px;
  height: 80px;
  margin-bottom: 8px;
}

.exp-des-text{
  text-align:left;
  font-size: 1rem;
  color:#9b9b9b;
  margin: 10px 0px 10px 10px;
}

.lang-list{
  display: flex;
  justify-content: flex-start ;
  flex-wrap: wrap;
}

.skills-list{
  display: flex;
  justify-content: space-around ;
  flex-wrap: wrap;
}

.skills-heading{
  font-family: monospace;
  font-size: 1.4rem;
  color: rgba(146, 46, 46, 0.929);
  margin-left: 20px;
  margin-top: 0px;
}

.lang{
  width: 130px;
  height: 110px;
  padding: 5px;
  margin: 6px;
  border-radius: 10px;
  border: 1px solid rgba(253, 186, 1, 0.093);
  background: linear-gradient(170deg, #1f1f2c, #1f1f2c, #be2b5c22); 
  object-fit: contain;
  transition: transform 0.2s;
}

.lang:hover{
  background: #2a282885; 
  transform: translate(0px ,-10px);
}

.stack-name{
  align-items: center;
  color:  #a5a5a5;
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0 0 0 0;
}

.stack-img{
  width:95%;
  height: 60%;
  margin-top: 5px;
  object-fit: contain;
}




/* project section */

.projects-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0px;
  margin-left: 5%;
}

.project {
  position: relative;
  margin: 10px;
  width: 22%;
  min-height: 44vh;
  height: fit-content;
  padding: 10px;
  padding-bottom: 15px;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(170deg,#2a28284e, #6b203966);
  font-family:'Times New Roman', Times, serif;
  color: #a0a0a0 ;
}


.project::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  padding: 3px;
  background: linear-gradient(270deg, #ff575796, #ffcc3396, #ff33aaa8, #ff8157ae);
  background-size: 400% 400%;
  animation: borderMove 6s linear infinite;
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  pointer-events: none;
}

@keyframes borderMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.project-img {
  max-width: 50%;
  max-height: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  object-fit: contain; 
  display: block;
  margin: 0 auto;
}

.project-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0 0 0 10px;
  color:#b6c639ae;
}

.github-link,.details-btn {
  font-size: 0.85rem;
  font-weight: 600;
  color: #2160a8;
  text-decoration: none;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: rgba(3, 102, 214, 0.08);
  border: 2px solid rgba(71, 47, 47, 0.667);
  margin-left: 16px;
  margin-top:10px ;
  margin-bottom: 20px;
  transition: background-color 0.2s;
  cursor: pointer;
}
.github-link:hover {
  background-color: rgba(3, 101, 214, 0.285);
  text-decoration: underline;
}

.details-btn:hover{
  background-color: rgba(3, 101, 214, 0.285);
}


.project-tech {
  margin-top: 0px;
}

.tech-items-container {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.tech-item {
  background-color: #6454246f;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.9em;
  color: #00e1ffa3;
}

.project-desc {
  font-size: 1rem;
  margin: 4px 0px 10px 10px;
}



/*contact section */
.contact-title{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 25px;
  font-size: 1.8rem;
  font-weight: bolder;
  font-family: monospace

}

.contact-info{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items:start;
}

.contact-para{
  margin-bottom: 50px;
}

.contact-item-left{
  margin-top: 0px;
  font-family: inherit;
  font-style: initial;
  width: 43%;
  height: auto;
}


.email-link {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-bottom: 15px;
}
a.email-link:hover {
  color: #71799a;
  text-decoration: none;
}

.find-me{
  color: rgba(199, 34, 34, 0.944);
  margin-top: 60px;
  margin-bottom: 20px;
  gap: 10px;
}
.social-icon{
  color: #fefefe9c;
  padding-right: 10px;
  text-decoration: none;
} 


.contact-item-right{
  font-family: inherit;
  font-style: initial;
  width: 30%;
  height: auto;
  border: 0.5px solid rgba(108, 84, 54, 0.542);
  background-color:rgba(255, 255, 255, 0.04);
  border-radius: 10px;
  padding: 10px;
  margin-top: 0 auto;
  margin-bottom: 20px;
  transition: transform 0.2s;
}

.contact-item-right:hover{
  transform: scale(1.01);
}

.feedback-input{
  outline: none;
  border-radius: 5px;
  height: 30px;
  width: 93%;
  margin-bottom: 15px;
  background-color: #10101050;
  color: white;
  border: 2px solid rgba(132, 122, 122, 0.679);
}

.feedback-msg{
 outline: none;
  border-radius: 5px;
  height: auto;
  width: 93%;
  margin-bottom: 15px;
  background-color: #10101050;
  color: white;
  border: 2px solid rgba(132, 122, 122, 0.679);
}
.submit-btn{
  outline: none;
  border-radius: 5px;
  font-size: 1em;
  height: 35px;
  width: 40%;
  margin-left: 30%;
  margin-bottom: 15px;
  background-color: #bebb1958;
  color: inherit;
  border: 2px solid rgba(132, 122, 122, 0.679);
  cursor: pointer;
}

footer{
  width: fit-content;
  margin: 0 auto;
  margin-top: 20px;
  font-family: inherit;
  font-size: 0.7rem;
}
